* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

main {
    height: 100vh;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 10px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background-color: lemonchiffon;
    width: fit-content;
    line-height: 1.5;
}

span {
    font-weight: bold;
    font-size: 1.5rem;
    color: red;
}

.cubilete {
    border: 1px solid black;
    box-shadow: 4px 4px 10px lightgrey;
    padding: 15px;
    border-radius: 8px;
}

form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin: 1rem auto;
}
form input[type=radio] {
    margin: 0 5px;
}
form > input[type=submit] {
    padding: 5px;
}