* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.header__titulo {
    text-align: center;
    padding: 25px 0;
    font-size: 3rem;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.382);
}

.main {
    width: 60%;
    max-width: 1600px;
    margin: 10vh auto;
}

.articulo {
    width: 80%;
    min-width: 600px;
    max-width: 1000px;
    font-size: 1.2rem;
    background-color: lightblue;
    padding: 25px;
    border-radius: 4px;
    border: 2px solid black;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.articulo__botones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.boton {
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(0, 44, 174);
    border: 2px solid rgba(0, 0, 0, 0.526);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: all 0.5s;
    font-size: 1.2rem;
    display: block;
    width: 100%;
}

.header .boton {
    font-size: 1.6rem;
    width: fit-content;
    margin: 25px auto;
}

.boton:hover {
    color: black;
    background-color: aquamarine;
    transform: translateY(-5px);
}