* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 20px;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    text-align: center;
}

tr:first-child {
    background-color: antiquewhite;
    font-weight: bold;
}

td {
    border: 1px solid black;
    padding: 10px 12px;
}

input[type=number] {
    width: 200px;
    padding: 8px 5px;
}

input[type=submit] {
    padding: 8px 5px;
}

h1 {
    position: absolute;
    top: 0;
    text-align: center;
    font-size: 4rem;
}