* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

table {
    margin: auto;
}
a {
    text-decoration: none;
    color: black;
}
td {
    background-position: center;
    background-size: cover;
    padding: 50px;
}
.apagada {
    background-image: url(apagada.png);
}
.encendida {
    background-image: url(encendida.png);
}