* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

form {
    border-radius: 10px;
    background-color: lightgray;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.51);
    padding: 25px;
    min-width: 600px;
    max-width: 1400px;
    width: fit-content;
    margin: 5vh auto;
    
    display: grid;
    gap: 1rem;
}

textarea {
    min-height: 40vh;
    max-height: 60vh;
}

.input {
    padding: 10px;
    font-size: 1.2rem;
    min-width: 600px;
    max-width: 1200px;
}

.cancelar {
    width: fit-content;
    margin: auto;
}