* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
header {
    background-color: tomato;
}
body {
    background-color: rgb(40, 40, 40);
}
h1 {
    text-align: center;
    padding: 30px 0;
    background-color: rgb(240, 190, 114);
}
h2:last-child > a {
    color: white;
    text-decoration: none;
    padding: 15px;
    background-image: linear-gradient(45deg, orange, yellow);
    border: 2px solid black;
    border-radius: 5px;
    text-shadow: 2px 2px 4px black;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.433);
}
h2:last-child > a:hover {
    background-image: linear-gradient(160deg, yellow, orange);
    border-color: white;
}
main {
    width: 70%;
    padding: 40px;
    margin: auto;
    background-color: rgb(204, 199, 155);
    box-shadow: 3px 3px 10px black;
}
picture {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    border: 2px solid black;
    overflow: hidden;
    height: 160px;
}
img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}
.boligrafo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px 0;
    padding: 14px;
    border-radius: 6px;
    border: 4px solid black;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.406);
}
.precio {
    color: lightgreen;
    font-size: 1.4rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.713);
}
.eliminar {
    background-color: rgb(197, 52, 52);
    padding: 10px;
    border-radius: 2px;
    color: white;
    border: 2px solid black;
}