* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
header {
    background-color: tomato;
}
body {
    background-color: rgb(40, 40, 40);
}
h1 {
    text-align: center;
    padding: 30px 0;
}
h3::after {
    content: "";
    width: 100px;
    height: 3px;
    margin: 4px 0;
    display: block;
    background-color: rgb(149, 78, 65);
}
main {
    width: 70%;
    padding: 40px;
    margin: auto;
    background-color: rgb(204, 199, 155);
    box-shadow: 3px 3px 10px black;
}
picture {
    width: 600px;
    border-radius: 10px;
    border: 2px solid black;
    overflow: hidden;
}
img {
    object-fit: cover;
    display: block;
    max-width: 100%;
}
.boligrafo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px 0;
    padding: 14px;
    border-radius: 6px;
    border: 4px solid black;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.406);
}
.comprar {
    padding: 10px;
    color: white;
    background-color: rgb(81, 49, 40);
    font-size: 0.8rem;
    border: 2px solid black;
    border-radius: 4px;
}
.comprar:hover {
    background-color: rgb(195, 195, 195);
    color: black;
    transition: 0.5s;
}
.precio {
    color: lightgreen;
    font-size: 1.4rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.713);
}