* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    padding: 25px 0;
    font-size: 4rem;
}

hr {
    margin-bottom: 25px;
    height: 3px;
    background-color: black;
}

main {
    width: 80%;
    margin: auto;
}

table {
    margin: auto;
    border-collapse: collapse;
    font-size: 1.6rem;
}

td {
    padding: 10px 20px;
    border-bottom: 1px solid black;
}

tr:nth-child(odd) {
    background-color: rgb(227, 227, 227);
}

#cabecera > td {
    background-color: cadetblue;
    font-weight: bold;
}

.boton {
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    width: fit-content;
}

.boton:hover {
    background-color: cadetblue;
}

.eliminar {
    background-color: rgb(180, 25, 25);
}

.modificar {
    background-color: rgb(247, 174, 78);
}

.entrada_salida {
    background-color: rgb(13, 143, 203);
}

.añadir {
    background-color: green;
}

.form_añadir {
    width: 100%;
    padding: 15px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.form_añadir > input {
    padding: 5px 10px;
    font-size: 1.4rem;
}

.pagina {
    background-color: darkgoldenrod;
    text-decoration: none;
}

nav {
    display: flex;
    width: fit-content;
    gap: 25px;
    margin: 25px auto;
}