* {
    font-family: sans-serif;
    font-size: 1.1em;
    padding: 0px;
    margin: 0;
    text-align: center;
}
table {
    margin: auto;
}
td {
    padding: 10px;
    border: 1px solid black;
}
p {
    text-align: center;
}