* {
    font-family: sans-serif;
    font-size: 1.1em;
    padding: 0px;
    margin: 0;
}

input[type="number"] {
    width: 60px;
    padding: 1px;
    margin: 20px 0;
}
input[type="submit"] {
    padding: 5px;
}
input[name="numSerie"] {
    width: 120px;
    padding: 5px;
    margin: 20px 0;
}
input[type="text"] {
    padding: 5px;
    margin-top: 16px;
}
div {
    width: fit-content;
    margin: auto;
    border: solid 2px darkblue;
    border-radius: 5px;
    padding: 20px;
}
h1 {
    font-size: 1.6em;
    text-align: center;
    margin: 10px 0;
}