* {
    font-family: 'JetBrains Mono';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
table {
    margin: 2em auto;
    border-collapse: collapse;
    width: 40%;
    text-align: center;
}
img {
    height: 150px;
}
td {
    border: 2px solid black;
    padding: 15px 25px;
    font-size: 1.6em;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
input {
    padding: 15px 25px;
}
.precio {
    color: rgb(0, 181, 0);
}