* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    position: absolute;
    top: 0;
    text-align: center;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 10px;
}

tr:first-child {
    background-color: lightgreen;
    font-weight: bold;
}