* {
    font-family: sans-serif;
    font-size: 1.1em;
    padding: 0px;
    margin: 0;
}
table {
    border-collapse: collapse;
    text-align: center;
}
main {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
}
td {
    border: 1px black solid;
    padding: 6px;
}
td:first-child {
    background-color: lightgrey;
}
tr:first-child {
    background-color: lightgrey;
}
h2 {
    text-align: center;
    margin: 1em auto;
    display: block;
    width: fit-content;
}