* {
    font-family: sans-serif;
    font-size: 1.1em;
    padding: 0px;
    margin: 0;
}
table {
    border-collapse: collapse;
    text-align: center;
}
td {
    border: 1px black solid;
    padding: 6px;
}
td:first-child {
    background-color: lightgrey;
}
tr:first-child {
    background-color: lightgrey;
}