* {
    padding: 0;
    margin: 0;
    box-sizing: bordex-box;
    font-family: sans-serif;
}

html {
    font-size: 22px;
}

.main {
    width: 70%;
    margin: 5vh auto;
}

.main__title {
    text-align: center;
    font-size: 3rem;
}

.main__form {
    width: 100%;
    margin: 1rem auto;
    max-width: 900px;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form__input {
    padding: 10px 5px;
    font-size: 1.1rem;
}

.boton {
    padding: 10px;
    border-radius: 4px;
    background-color: lightseagreen;
    border: 2px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    text-decoration: none;
    color: white;
    transition: 0.6s;
    width: fit-content;
    display: block;
    font-size: 1.1rem;
    margin: 20px auto;
}

.boton:hover {
    background-color: steelblue;
    transform: scale(1.05) translateY(-10px);
}