* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* fondo */
body {
    background-color: rgb(40, 40, 40);
}

/* header */
header {
    background-color: tomato;
}
h1 {
    text-align: center;
    padding: 30px 0;
}

/* cuerpo principal */
main {
    width: 70%;
    padding: 40px;
    margin: auto;
    background-color: rgb(204, 199, 155);
    box-shadow: 3px 3px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
figure {
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
    border: 2px solid black;
    overflow: hidden;
    height: 260px;
}
img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}
.comprar {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    font-size: 2.4rem;
    color: white;
    background-color: coral;
}
.descripcion {
    font-size: 2.4rem;
    font-weight: normal;
}
.comprar:hover {
    background-color: cadetblue;
}
.precio {
    color: lightgreen;
    font-size: 2rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.713);
}