* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1.4rem;
}
form {
    width: fit-content;
    margin: auto;
}
body {
    text-align: center;
}
td {
    border: 2px solid black;
    padding: 15px 25px;
}
table {
    border-collapse: collapse;
    margin: auto;
}
tr:nth-child(odd) {
    background-color: lightcyan;
}
tr:first-of-type {
    background-color: lightcoral;
}